// 반복문
// js의 경우
// for (let i=0; i<10; i +=1) {
//    console.log(`loop-${i}`)
// }
// scss는 제로베이스가 아니므로 다음과 같이 사용

@for $i from 1 through 10 {
  //nth-child()안에 $i를 넣을 수 없으므로 보간을 사용
  .box:nth-child(#{$i}) {  // .box:nth-child(1) ~ .box:nth-child(10)
    width: 100px * $i;  // 100px ~ 1000px
  }
}


// 함수
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function ratio($size, $ratio) {
  @return $size * $ratio
}

.box {
  $width: 100px;
  width: $width;
  height: ratio($width, 1/2);
  @include center;
}

// 색상 내장 함수
.box {
  $color: royalblue;
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  background-color: $color;
  &:hover {
    background-color: darken($color, 10%); // darken() : 10%만큼 어둡게해준다
  }
  &.built-in {
    background-color: mix($color, red); // mix() : 색상이 섞인다
    background-color: lighten($color, 10%); // lighten() : 10%만큼 밝게해준다
    background-color: saturate($color, 10%); // saturate() : 10%만큼 채도를 올려준다
    background-color: desaturate($color, 10%); // desaturate() : 10%만큼 채도를 낮춰준다
    background-color: grayscale($color); // grayscale() : 주어진 색상을 gray로 만들어 준다.
    background-color: invert($color); // invert() : 주어진 색상을 반전시킨다.
    background-color: rgba($color, .5); // rgba(, 투명도) : 투명도를 정해준다.
    
  }
}